<!-- views/partials/head.ejs -->
<head>

	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="">

	<meta property="og:type" content="website">
	<meta property="og:title" content="엑스퍼트">
	<meta property="og:description" content="">
	<meta property="og:url" content="">

	<title>엑스퍼트(Xpert)</title>

  <!-- global -->
	<link rel="icon" type="image/png" href="/images/tab_logo.png">
  <link type="text/css" rel="stylesheet" href="/css/style.css"/>
  <!-- normalize -->
	<link type="text/css" rel="stylesheet" href="/css/normalize.css"/>
	<!--daterangepicker -->
	<link type="text/css" rel="stylesheet" href="/plugin/daterangepicker/daterangepicker.css"/>
</head>
